.icon {
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.icon[data-size="16"] {
    width: 16px;
    height: 16px;
}

.icon[data-size="32"] {
    width: 32px;
    height: 32px;
}

.icon[data-size="64"] {
    width: 64px;
    height: 64px;
}

.icon[data-size="128"] {
    width: 128px;
    height: 128px;
}

.icon[data-display=inline-block] {
    display: inline-block;
}

.icon[data-icon=folder] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/files/folder.png") !important;
}

.icon[data-icon=finder] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/finder.png") !important;
}

.icon[data-icon=launchpad] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/launchpad.png") !important;
}

.icon[data-icon=settings] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/systempreferences.png") !important;
}

.icon[data-icon=messages] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/messages.png") !important;
}

.icon[data-icon=safari] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/safari.png") !important;
}

.icon[data-icon=podcast] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/podcasts.png") !important;
}

.icon[data-icon=reminders] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/reminders.png") !important;
}

.icon[data-icon=calendar] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/calendar.png") !important;
}

.icon[data-icon=mail] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/system/icons/mail.png") !important;
}

.icon[data-icon=chrome] {
    background-image: url(https://bit.ly/2Qj9Zmg) !important;
}

.icon[data-icon=drive] {
    background-image: url(https://bit.ly/2M2LqJq) !important;
}

.icon[data-icon=adobe] {
    background-image: url(https://bit.ly/2QmJnhJ) !important;
}

.icon[data-icon="adobe ae"] {
    background-image: url(https://bit.ly/2Hz4FWU) !important;
}

.icon[data-icon="adobe ps"] {
    background-image: url(https://bit.ly/2VJP1f0) !important;
}

.icon[data-icon="adobe id"] {
    background-image: url(https://bit.ly/2HwDKL0) !important;
}

.icon[data-icon="adobe lr"] {
    background-image: url(https://bit.ly/2Jy2Ewd) !important;
}

.icon[data-icon=outlook] {
    background-image: url(https://bit.ly/37YY8yD) !important;
}

.icon[data-icon=vscode] {
    background-image: url(https://bit.ly/2lWXorv) !important;
}

.icon[data-icon=word] {
    background-image: url(https://bit.ly/2vZeSIF) !important;
}

.icon[data-icon=excel] {
    background-image: url(https://bit.ly/2w1sdAc) !important;
}

.icon[data-icon="power point"] {
    background-image: url(https://bit.ly/32rNtLO) !important;
}

.icon[data-icon=onenote] {
    background-image: url(https://bit.ly/3c322K9) !important;
}

.icon[data-icon=console] {
    background-image: url(https://bit.ly/2JwVZ5n) !important;
}

.icon[data-icon=whatsapp] {
    background-image: url(https://bit.ly/2K105Co) !important;
}

.icon[data-icon=instagram] {
    background-image: url(https://bit.ly/30EYpEw) !important;
}

.icon[data-icon="vlc player"] {
    background-image: url(https://bit.ly/2VKPHRa) !important;
}

.icon[data-icon=spotify] {
    background-image: url(https://bit.ly/2VEdT81) !important;
}

.icon[data-icon=slack] {
    background-image: url(https://bit.ly/2Er8AmD) !important;
}

.icon[data-icon="davinci resolve"] {
    background-image: url(https://bit.ly/35ygeXY) !important;
}

.icon[data-icon=discord] {
    background-image: url(https://bit.ly/30y4IJO) !important;
}

.icon[data-icon=comet] {
    background-image: url(https://bit.ly/2XP6Puo) !important;
}

.icon[data-icon=user] {
    background-image: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/user/pic/1.png") !important;
}