@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@layer base {
  /* Make entire TOC sidebar scrollable */
  #nd-toc > div {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}
